<script type="text/javascript">
  window.staticImages = {
    logo: "<%= asset_path('car-collision-favicon.svg') %>",
    taxi: "<%= asset_path('taxi.png') %>",
    motorcycle: "<%= asset_path('motorcycle.png') %>",
    bike: "<%= asset_path('bike.ico') %>",
  };
</script>
<main id="root"></main>
