/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h3, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  background-color: #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.container {
  width: 600px;
  margin: 20px auto;
}

.bordered {
  border: 1px black solid;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

label {
  display: block;
}

$blue: #3b99fc;

.clickable-div {
  margin: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  vertical-align: middle;
}

.clickable-div:hover {
  cursor: pointer;
  background-color: #bbb;
}

.clickable-div:active {
  background-color: #555;
}
