/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h3, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  background-color: #ccc;
  font-family: 'Arimo', sans-serif;
}

.container {
  width: 950px;
  margin: 20px auto;
}

.main {
  display: flex;
  justify-content: space-between;
}

/* --- ASIDE --- */

aside {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  width: 60px;
  height: auto;
}

.logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

h3 {
  font-size: 18px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin: 10px;
}

.links i {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.links i:hover {
  cursor: pointer;
  background-color: #bbb;
}

.links i:active {
  background-color: #aaa;
}

a:hover {
  text-decoration: underline;
}
