/* --- CONTROL PANEL --- */

.control-panel {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.67;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable-div {
  margin: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  vertical-align: middle;
}

.clickable-div:hover {
  cursor: pointer;
  background-color: #bbb;
}

.clickable-div:active {
  background-color: #555;
}

select {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 0 10px;
}
