/* --- CONTROL PANEL --- */

#play-button {
  min-width: 80px;
}

select {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 0 10px;
}

/* --- EXTRA PANEL --- */

.extra-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}
