/* --- ControlPanel --- */

.control-panel {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.67;
  text-align: center;
}

select {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 0 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.clickable-div {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  vertical-align: middle;
}

.clickable-div:hover {
  cursor: pointer;
  background-color: #bbb;
}

.clickable-div:active {
  background-color: #aaa;
}

.icons {
  vertical-align: middle;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.icon-line {
  display: flex;
  justify-content: space-around;
}

.github-repo {
  padding-top: 10px;
}

.icons img {
  width: 30px;
}

.red {
  color: red;
}

/* On/off toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3b99fc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3b99fc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
