/* --- HEADER --- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.header-links {
  text-align: right;
  line-height: 1.5em;
}

/* --- MODALS?? --- */

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
};

h3 {
  font-size: 18px;
  text-align: center;
}

.links i {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.links i:hover {
  cursor: pointer;
  background-color: #bbb;
}

.links i:active {
  background-color: #aaa;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
