/* --- HIGHLIGHT --- */

.highlight-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

.highlight {
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ccc;
  padding: 10px;
}

.detail-entry {
  margin: 10px 0;
}

.column-name {
  color: $blue;
}

.value {
  margin-bottom: 10px;
}

.highlight-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-highlight {
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
}

.clear-highlight:hover {
  cursor: pointer;
  background-color: #bbb;
}

.clear-highlight:active {
  cursor: pointer;
  background-color: #aaa;
}

.highlight-info {
  line-height: 20px;
}

.highlight-info th {
  width: 300px;
}
