/* --- HIGHLIGHT --- */

.highlight-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

.highlight {
  padding: 10px;
}

.highlight-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-highlight {
  font-size: 18px;
}
