/* --- HIGHLIGHT --- */

.highlight-wrapper {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

.highlight {
  padding: 10px;
  position: relative;
  background-color: $background-color;
}
