/* --- MAP CONTROL PANEL --- */

.icons {
  vertical-align: middle;
  padding-bottom: 10px;
}

.icons img {
  width: 30px;
}

/* --- MAP --- */

.index-map {
  width: 600px;
  height: 572px;
}

.map-container{
  // position: relative;
}

.map-info {
  font-size: 16px;
  // position: absolute;
  bottom: 23px;
  right: 50px;
  text-align: right;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.extra-panel {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border: 1px solid black;
}
