/* --- MAP --- */

.index-map {
  width: 600px;
  height: 572px;
}

.map-container{
  position: relative;
}

.map-info {
  font-size: 16px;
  position: absolute;
  top: 50px;
  right: 13px;
  text-align: right;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.heatmap-panel {
  width: 450px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 20%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

.button:hover {
  cursor: pointer;
  background-color: #bbb;
}

.button:active {
  background-color: #aaa;
}
