/* --- MAP CONTROL PANEL --- */

.icons {
  vertical-align: middle;
  padding-bottom: 10px;
}

.icons img {
  width: 30px;
}

.red {
  color: red;
}

/* --- MAP --- */

.index-map {
  width: 600px;
  height: 572px;
}

.map-container{
  // position: relative;
}

.map-info {
  font-size: 16px;
  // position: absolute;
  bottom: 23px;
  right: 50px;
  text-align: right;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.map-panel {
  width: 450px;
  font-size: 12px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

.button:hover {
  cursor: pointer;
  background-color: #bbb;
}

.button:active {
  background-color: #aaa;
}
